#createTodoTextInput {
  border-radius: 5px;
  width: 120px;
  padding: 5px;
}

#create-todo-btn {
  border-radius: 5px;
  padding: 7px;
}

#toggle-all-btn {
  border-radius: 5px;
  padding: 7px;
}

.hide {
  display: none !important;
}

.todo-container {
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.main-section {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}

.todos-create-box {
  text-align: center;
}

.todos-view-box {
  text-align: left;
}

.todo-check-box {
  float: left;
}

.todos-strikethrough {
  text-decoration: line-through;
}

.todoLabel {
  display: inline-block;
  overflow-wrap: break-word;
  width: 105px;
  margin-left: 5px;
}

.updateBox {
  border-radius: 5px;
  margin-left: 5px;
  width: 105px;
}

.deleteButton {
  float: right;
}

ul {
  list-style: none;
  padding: 0;
}

* {
/*  border: 1px dashed black;*/
  font-family: sans-serif;
}
